os: linux
dist: bionic
language: node_js
node_js:
  - lts/*
cache: yarn
git:
  quiet: true
env:
  global:
  - WORKSPACE=$TRAVIS_BUILD_DIR
addons:
  apt:
    packages:
    - libgconf-2-4
branches:
    only:
      - master
matrix:
  include:
  - language: node_js
    name: "PSV Linux Build & Test"
    script: $WORKSPACE/scripts/linux/psv/travis_build_test_psv.sh && env
  - language: minimal
    name: "PSV Commit checker script"
    script: $WORKSPACE/scripts/misc/commit_checker.sh
    if: type = pull_request
deploy:
  - provider: script
    script: $WORKSPACE/scripts/publish-packages.sh -fetch
    cleanup: false
    on:
       branch: master
       condition: [ $TRAVIS_EVENT_TYPE = api && $allow_publish_npm = true && $allow_publish_fetch = true ]
  - provider: script
    script: $WORKSPACE/scripts/publish-packages.sh -api
    cleanup: false
    on:
       branch: master
       condition: [ $TRAVIS_EVENT_TYPE = api && $allow_publish_npm = true && $allow_publish_api = true ]
  - provider: script
    script: $WORKSPACE/scripts/publish-packages.sh -core
    cleanup: false
    on:
       branch: master
       condition: [ $TRAVIS_EVENT_TYPE = api && $allow_publish_npm = true && $allow_publish_core = true ]
  - provider: script
    script: $WORKSPACE/scripts/publish-packages.sh -auth
    cleanup: false
    on:
       branch: master
       condition: [ $TRAVIS_EVENT_TYPE = api && $allow_publish_npm = true && $allow_publish_auth = true ]
  - provider: script
    script: $WORKSPACE/scripts/publish-packages.sh -read
    cleanup: false
    on:
       branch: master
       condition: [ $TRAVIS_EVENT_TYPE = api && $allow_publish_npm = true && $allow_publish_read = true ]
  - provider: script
    script: $WORKSPACE/scripts/publish-packages.sh -write
    cleanup: false
    on:
       branch: master
       condition: [ $TRAVIS_EVENT_TYPE = api && $allow_publish_npm = true && $allow_publish_write = true ]
  - provider: script
    script: $WORKSPACE/scripts/publish-packages.sh -verify
    cleanup: false
    on:
       branch: master
       condition: [ $TRAVIS_EVENT_TYPE = api && $allow_publish_npm = true && $allow_publish_verify = true ]
    